*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-colour:#E0E1DF;
    --main-brand-colour:#53624E;
    --padding-side:140px;
}

body {
    background:var(--main-bg-colour);   
    padding: 40px var(--padding-side);
}

#main{
    color: #53624E;
}

.navbar{
    padding:10px var(--padding-side);
    position: fixed;
    background:var(--main-bg-colour);   
    top:0;
    left:0;
    right:0;
    z-index:100;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 1s linear, top 1s linear;
}


.navbar.scroll{
    opacity: 0;
    top: -100%;
}

.tree{
    margin-left: auto;
    margin-right: auto;
}

.heading{
    margin-top:274px;
    font-size:75px;
    text-transform: uppercase;
    text-align: center;
    border-bottom:1px solid #53624E;
    margin-bottom: 40px;
    color:#53624E;

}

.heading div{
    border-top:1px solid #53624E;
    padding: 20px;
    font-size: 7vw;
}

.heading div span{
    text-transform:lowercase;
    font-style:italic;
}

.reserve_button,
.reservations{
    font-size:14px;
}

img.logo{
    height:100px;
} 

.reserve_button{
    text-transform: uppercase;
    color: var(--main-bg-colour);
    background: #53624E;
    padding:10;
    display:inline-block;
    border: 1px solid #53624E;
}

.reservations ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
}

.reservations ul li{
    padding:30px;
    border: 1px solid #53624E;
    text-align: center;
    position: relative;
}
.calendar{
    opacity: 0;
    width: 200%;
    background: red;
    position: absolute;
    height: 100px;
    bottom: -100px;
    width: 200%;
    left:0;
    right:0;
    z-index:1;
    transition: opacity 0.5s linear;
}


.calendar.active{
    opacity: 1;
    
}


img{
    width:100%
}


@media (max-width: 860px) and (orientation: portrait) {

    :root {
        --padding-side: 40px;
    };

    .tree{
        visibility: hidden;
    }

    .reservations{
        display: none;
    }



}